.Uniblox {
  text-align: center;
  background: radial-gradient(circle at top left, #314a539e, transparent 12%),
    #121212;
  height: 100%;
}
.Uniblox-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
  width: 90%;
}
.Uniblox-header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-left: 100px;
  font-size: calc(20px + 1vmin);
  color: white;
}
.Uniblox-title {
  font-weight: 600;
  cursor: pointer;
}
.Uniblox-topMenu {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #ffffff;
  gap: 50px;
}

.Uniblox-logo {
  height: 6vmin;
  pointer-events: none;
}

.Uniblox-bodyItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.Uniblox-bodyItems-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding-bottom: 20px;
}
.Uniblox-bodyItems-item-img {
  width: 80%;
  height: 300px;
  object-fit: cover;
  border: 2px solid grey;
  border-radius: 10px;
}
.Uniblox-bodyItems-item-name {
  font-size: 20px;
  color: white;
  font-weight: 400;
}
.Uniblox-bodyItems-item-price {
  font-size: 15px;
  color: white;
  font-weight: 200;
}
