.Uniblox {
  text-align: center;
  background:radial-gradient(circle at top left, #314a539e, transparent 12%),
  #121212;
  height:100%;
}
.Uniblox-header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 20px;
}
.Uniblox-header-content {
  display: flex;
  width: 10%;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  gap:20px;
  font-size: calc(20px + 1vmin);
  color: white;
}
.Uniblox-title{
  font-weight:600;
  cursor:pointer;
}
.search {
  width: 50%;
}
.Uniblox-searchBar{
  /* width:300px; */
  color: white;
  
}
.Uniblox-topMenu{
  display: flex;
  align-items:center;
  flex-direction: row;
  /* justify-content: space-evenly; */
  color:#ffffff;
  gap:50px;
}

.Uniblox-logo {
  height: 6vmin;
  pointer-events: none;
}


.Uniblox-bodyItems{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.Uniblox-bodyItems-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%; 

}
.Uniblox-bodyItems-item-img{
  width: 80%; 
  height: 300px; 
  object-fit: cover; 
}
.Uniblox-bodyItems-item-name{
  font-size:20px;
  color:white;
  font-weight:400;
}
.Uniblox-bodyItems-item-price{
  font-size:15px;
  color:white;
  font-weight:200;
}
.Uniblox-link {
  color: #61dafb;
}

